*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
min-height:100vh;
display:flex;
flex-direction:column;
background:
linear-gradient(rgba(0,0,0,.85),rgba(0,0,0,.85)),
url("articles-fifa-world-cup-trionda-ball.jpg");

background-size:cover;
background-position:center;
font-family:Arial, Helvetica, sans-serif;
color:white;
}


.container{
    width:90%;
    max-width:350px;
    margin:80px auto 0 auto;
    padding:20px;
    background:rgba(0,0,0,0.45);
    border-radius:15px;

    box-shadow:
    0 0 15px rgba(88,101,242,.5),
    0 0 30px rgba(88,101,242,.3);

    text-align:center;
}

h1{
margin-bottom:5px;
font-size:1.6rem;
font-family: 'Oxanium', sans-serif;
}

h2{
margin-bottom:15px;
font-size:1rem;
font-family: 'Oxanium', sans-serif;
}

input{
width:100%;

padding:12px;
margin:8px 0;

border:none;
border-radius:10px;

font-size:15px;
outline:none;

}

input:focus{
box-shadow:
0 0 10px #5865F2;
}

.submit-btn{
width:100%;

margin-top:15px;
padding:15px;

border:none;
border-radius:12px;

background:#5865F2;
color:white;

font-size:18px;
font-weight:bold;

cursor:pointer;

box-shadow:
0 0 10px #5865F2,
0 0 25px #5865F2,
0 0 50px #5865F2;

}

.submit-btn:hover{
transform:scale(1.03);
}

/* Fiery Logo */

.logo{
    width:120px;
    display:block;
    margin:0 auto 20px;


    filter:
    drop-shadow(0 0 10px #ff4500)
    drop-shadow(0 0 20px #ff6600)
    drop-shadow(0 0 40px #ff2200);

    animation:fireGlow 0.8s infinite alternate;
}

@keyframes fireGlow{
    0%{
        filter:
        drop-shadow(0 0 10px #ff4500)
        drop-shadow(0 0 20px #ff6600)
        drop-shadow(0 0 40px #ff2200);
    }
    100%{
        filter:
        drop-shadow(0 0 20px #ff0000)
        drop-shadow(0 0 40px #ff3c00)
        drop-shadow(0 0 40px #ffae00);
    }
}

/* FOOTER */
footer{
    width:100%;
    background:rgba(0,0,0,0.8);

    border-top:1px solid rgba(255,215,0,0.3);
    box-shadow:
    0 -5px 20px rgba(255,215,0,0.1);

    padding:10px ;
    margin-top:20px;
    text-align:center;
    font-size:14px;
}


/* ========DESKTOP======= */

@media (min-width:992px){

.container{
    max-width:420px;
    padding:25px;
    margin:100px auto 40px auto;
}

.logo{
    width:130px;
}

h1{
    font-size:2rem;
}

h2{
    font-size:1.2rem;
}

input{
    font-size:16px;
    padding:14px;
}

.submit-btn{
    font-size:18px;
}

footer{
    font-size:14px;
}

}

/* ========TABLET======== */

@media (max-width:991px){

.container{
    max-width:400px;
    margin:80px auto 35px auto;
}

.logo{
    width:120px;
}

h1{
    font-size:1.8rem;
}

h2{
    font-size:1.1rem;
}

footer{
    font-size:13px;
}

}

/* ========MOBILE======= */

@media (max-width:768px){

.container{
    width:92%;
    max-width:350px;
    margin:60px auto 30px auto;
    padding:20px;
}

.logo{
    width:100px;
}

h1{
    font-size:1.5rem;
}

h2{
    font-size:1rem;
}

input{
    padding:12px;
    font-size:14px;
}

.submit-btn{
    width:100%;
    font-size:16px;
    padding:14px;
}

footer{
    font-size:12px;
}

}

/* =======SMALL PHONES======== */

@media (max-width:480px){

.container{
    height:auto;
    min-height:auto;
    margin-bottom:10px;
}


.logo{
    width:90px;
}

h1{
    font-size:1.3rem;
    line-height:1.4;
}

h2{
    font-size:0.95rem;
}

input{
    padding:10px;
    font-size:13px;
}

.submit-btn{
    font-size:15px;
    padding:12px;
}

footer {
    background:rgba(0,0,0,0.8);

    border-top:1px solid rgba(255,215,0,0.3);
    box-shadow:
    0 -5px 20px rgba(255,215,0,0.1);
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    font-size: 10px;
    }

.submit-btn{
    font-size:16px;
}

}


